<div class="container mt-5">
    <!-- Welcome message card -->
    <div class="card shadow-sm border-light rounded p-4">
        <h2 class="text-center font-weight-bold mb-4">Welcome Message</h2>
        <p class="text-justify text-muted">
            The Ministry of Health Zanzibar oversees all health-related issues in Zanzibar. In the early '90s, the Ministry embarked on a fully-fledged reform process in 2002. The Strategic Plan for the Health Sector (ZHSRSP I) 2002/03-2006/7 which was followed by ZHSRSP II 2006/7 - 2010/11 was developed based on the 1999 Zanzibar Health Policy.
            <br><br>
            The change sought to expand planning, prioritize, and integrate health care at the district level. In addition, the amendment was intended to ensure access to high-quality care for all Zanzibaris with a prioritized illness or burden of disease and in line with the required Health Care Package.
        </p>
    </div>
</div>
