<div class="container mt-5">
    <!-- Welcome message card -->
    <div class="card shadow-sm border-light rounded p-4">
        <h2 class="text-center font-weight-bold mb-4">Ujumbe wa Wizara</h2>
        <p class="text-justify text-muted">
            Wizara ya Afya Zanzibar inasimamia maswala yote yanayohusiana na afya ndani ya Zanzibar. Mwanzoni mwa miaka ya 90, Wizara ilianza mchakato wa mageuzi ambao ulijaa kikamilifu mnamo 2002. Mpango Mkakati wa Sekta ya Afya ya (ZHSRSP I) 2002 / 03- 2006/7 ambayo ilifuatiwa na ZHSRSP II 2006/7 - 2010/11 zilianzishwa kwa kuzingatia Sera ya Afya ya Zanzibar ya 1999.
            <br><br>
            Mabadiliko hayo yalitafuta kupanua mipango, kuweka kipaumbele na kuunganisha huduma za afya katika ngazi za wilaya.
            Kwa kuongezea, marekebisho hayo yalilenga kuhakikisha kupatikana kwa huduma bora za hali ya juu kwa Wazanzibari wote wenye magonjwa yaliopewa kipaumbele au mzigo wa magonjwa na kulingana na Kifurushi cha Huduma ya Afya inayohitajika.
        </p>
    </div>
</div>
