<!-- <div class="container-fluid bg-light py-3 border-bottom mx-0">
  <div class="row align-items-center">
    <div class="col-md-2 ">
      <img
        src="../../../../assets/img/smz.png"
        alt="Logo of Zanzibar"
        class="img-fluid"
        style="max-height: 100px;"
      />
    </div>
    
    <div class="col-md-10 text-center">
      <h4 class="mb-0 fw-bold ">Serekali ya Mapinduzi ya Zanzibar</h4>
      <h1 class="text-muted">Wizara ya Afya Zanzibar</h1>
    </div>
  </div>
</div> -->
<div>
  <img
    src="../../../../assets/img/BANNER-01.jpg"
    class="img-fluid"
    style="width: 100%; height:150px; object-fit: cover;"
  />
</div>
