.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
  }
  
  .heading::before,
  .heading::after {
    content: "";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20px; 
    width: 50px;  
  }
  
  .heading::before {
    background: linear-gradient(
      to bottom,
      white 5px,   
      transparent 5px, 
      transparent 8px,
      white 8px,   
      transparent 12px, 
      transparent 15px,
      white 15px   
    );
    margin-right: 15px;
  }
  
  .heading::after {
    background: linear-gradient(
      to bottom,
      white 5px,   
      transparent 5px, 
      transparent 8px,
      white 8px,   
      transparent 12px, 
      transparent 15px,
      white 15px   
    );
    margin-left: 15px;
  }
  .feature-item {
    min-height: 350px; /* Unaweza kurekebisha thamani hii */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
