<div class="container-fluid">
  <!-- <h5 class="font-semibold mt-4">{{ dialogData.action }} News</h5> -->
  <h5 class="fw-bold mt-4" *ngIf="dialogData.action === 'CREATE NEW'">
    Create News
  </h5>
  <h5 class="fw-bold mt-4" *ngIf="dialogData.action === 'EDIT'">Update News</h5>
  <form [formGroup]="newsForm">
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-12 mt-3">
        <mat-label>News Title</mat-label>
        <input
          type="text"
          formControlName="newsTitle"
          matInput
          class="text-black"
        />
        <mat-error
          *ngIf="
            newsForm.controls.newsTitle.touched &&
            newsForm.controls.newsTitle.invalid
          "
        >
          <span *ngIf="newsForm.controls.newsTitle.errors.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-12 mt-4">
        <mat-label>News Description</mat-label>
        <textarea
          formControlName="newsDescription"
          matInput
          rows="11"
          class="text-black"
        ></textarea>
        <mat-error
          *ngIf="
            newsForm.controls.newsDescription.touched &&
            newsForm.controls.newsDescription.invalid
          "
        >
          <span *ngIf="newsForm.controls.newsDescription.errors?.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Image Upload -->
      <div class="col-md-12 mt-2 mb-3">
        <div class="mb-2">
          <mat-label>Image</mat-label>
        </div>
        <input
          type="file"
          (change)="onImageSelected($event)"
          accept="image/*"
          multiple
          class="form-control"
        />
        <mat-error *ngIf="fileError">{{ fileError }}</mat-error>
      </div>

      <!-- Image Previews -->
      <div *ngIf="previewImages?.length > 0" class="mt-3 d-flex flex-wrap">
          <img 
            *ngFor="let image of previewImages" 
            [src]="image" 
            alt="Preview" 
            class="img-fluid me-2 mb-2"
            style="max-height: 100px"
          />
        </div>

      <!-- Image Previews -->
      <!-- <div *ngIf="previewImages?.length > 0" class="mt-3 d-flex flex-wrap">
        <div
          *ngFor="let image of previewImages; let i = index"
          class="position-relative me-2 mb-2"
        >
          <img
            [src]="image"
            alt="Preview"
            class="img-fluid"
            style="max-height: 100px"
          />
          <button
            type="button"
            class="btn btn-danger btn-sm position-absolute top-0 end-0"
            (click)="removeImage(i)"
            style="border-radius: 50%; padding: 0px 6px; font-size: 14px"
          >
            ×
          </button>
        </div>
      </div> -->
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!(newsForm.valid && newsForm.dirty)"
      (click)="handleNewsSubmit()"
    >
      {{ action }} Data
    </button>
  </mat-dialog-actions>
</div>
