<!-- 
<div class="team container-fluid pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Team</h4>
            <h1 class="display-5 mb-4">Meet Our Advisers</h1>
            <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s" *ngFor="let teams of team.slice(0,4)">
                <div class="team-item">
                    <div class="team-img">
                        <img [src]="teams?.team_photo" class="img-fluid" alt="Team Member">
                    </div>
                    <div class="team-title text-center mt-3">
                        <h4 class="mb-0">{{ teams?.first_name }}</h4>
                        <p class="mb-0">{{ teams.professional }}</p>
                    </div>
                    <div class="team-icon text-center mt-3">
                        <a class="btn btn-primary btn-sm-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="team-section text-center">
    <h4 class="section-title">Our Team</h4>
    <h2 class="section-subtitle">Meet Our Advisers</h2>
    <p class="section-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur adipisci
      facilis cupiditate recusandae aperiam temporibus corporis.
    </p>
  
    <div class="row justify-content-center">
      <div class="col-md-3" *ngFor="let member of team">
        <div class="card team-card" >
          <div class="image-container">
            <img
              [src]="member.team_photo"
              alt="Photo of {{ member.name }}"
              class="profile-image"
            />
          </div>
          <h5 class="member-name">{{ member.first_name }}</h5>
          <p class="member-role">{{ member.professional}}</p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  