<div class="container-fluid">
    <div class="card p-3">
      <div class="mb-4">
        <h5 class="fw-bold">
          <i class="fa-sharp fa-solid fa-star-of-life me-2 fa-sm"></i>News Title
        </h5>
        <p class="ps-5 pe-3">
         {{ news?.news_title}}
        </p>
      </div>
      <div class="mb-4">
        <h5 class="fw-bold">
          <i class="fa-sharp fa-solid fa-star-of-life me-2 fa-sm"> </i>News Description
        </h5>
        <p class="ps-5 pe-3">
          {{ news?.news_descriptions}}
        </p>
      </div>
      <div class="mb-4">
        <h5 class="fw-bold">
          <i class="fa-sharp fa-solid fa-star-of-life me-2 fa-sm"> </i>News Image </h5>
          <div id="carouselExampleIndicators" class="carousel slide ps-5 pe-3 mt-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button *ngFor="let image of news?.image_urls; let i = index" 
                      type="button" 
                      [attr.data-bs-target]="'#carouselExampleIndicators'"
                      [attr.data-bs-slide-to]="i"
                      [class.active]="i === 0"
                      [attr.aria-current]="i === 0 ? 'true' : null"
                      [attr.aria-label]="'Slide ' + (i + 1)">
              </button>
            </div>
            
            <div class="carousel-inner bg-secondary" >
              <div *ngFor="let image of news?.image_urls; let i = index" 
                   class="carousel-item" 
                   [class.active]="i === 0">
                <img [src]="image" class="d-block" alt="News Image">
                <!-- w-100 -->
              </div>
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
        <!-- <p class="ps-5 pe-3 mt-4">
          <img src="{{ news?.banner_image }}" class="img-fluid" alt="Banner Image">
        </p> -->
      </div>
      <div class="">
          <button routerLink="../../news-list" mat-flat-button color="warn" class="float-end">
              <!-- <mat-icon>keyboard_arrow_left</mat-icon> -->
              <mat-icon>arrow_back_ios</mat-icon>
              Back
          </button>
      </div>
    </div>
  </div>
  