<div class="join-us container wow fadeInUp">
  <h1 class="text-center text-primary mb-4">Join us here</h1>
  <div class="row text-center">
    <!-- YouTube Card -->
    <div class="col-md-4 d-flex align-items-stretch mb-3">
      <div class="card border-0 shadow w-100">
        <div class="card-body">
          <h5 class="card-title text-danger">YouTube</h5>
          <blockquote class="blockquote">
            <div class="ratio ratio-16x9">
              <!-- <iframe
                src="../../../../assets/videos/Ceremony Website Launch.mp4"
                title="YouTube video"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
                ></iframe
              > -->
              <video
                src="../../../../assets/videos/Ceremony Website Launch.mp4"
                title="Ceremony Website Launch"
                controls
                style="width: 100%; max-width: 800px"
              >
                Your browser does not support the video tag.
              </video>
            </div>
          </blockquote>
        </div>
      </div>
    </div>

    <!-- YouTube Card -->
    <div class="col-md-4 d-flex align-items-stretch mb-3">
      <div class="card border-0 shadow w-100">
        <div class="card-body">
          <h5 class="card-title text-danger">YouTube</h5>
          <blockquote class="blockquote">
            <div class="ratio ratio-16x9">
              <video
                src="../../../../assets/videos/10 Second CountDown Timer With Voice To Start A Show.mp4"
                title="YouTube video"
                controls
                style="width: 100%; max-width: 800px;"
              >
                ></video
              >
            </div>
          </blockquote>
        </div>
      </div>
    </div>

    <!-- YouTube Card -->
    <div class="col-md-4 d-flex align-items-stretch mb-3">
      <div class="card border-0 shadow w-100">
        <div class="card-body">
          <h5 class="card-title text-danger">YouTube</h5>
          <blockquote class="blockquote">
            <div class="ratio ratio-16x9">
              <video
              src="../../../../assets/videos/＊📣📣TRYOUTS ANNOUNCEMENT📣📣 ＊5_30 PM -8_30 PM TMR＊🍓🧋.mp4"
              title="YouTube video"
              controls
              style="width: 100%; max-width: 800px;"
            >
              ></video
            >
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
