<div class="join-us container">
    <h1 class="text-center text-primary mb-4">Join us here</h1>
    <div class="row text-center">
      <!-- Facebook Card -->
      <div class="col-md-4 d-flex align-items-stretch mb-3">
        <div class="card border-0 shadow w-100">
          <div class="card-body">
            <h5 class="card-title text-primary">Facebook</h5>
            <blockquote class="blockquote">
              <p><i class="fas fa-quote-left me-2"></i>Wizara ya Afya Zanzibar</p>
            </blockquote>
          </div>
        </div>
      </div>
  
      <!-- Twitter Card -->
      <div class="col-md-4 d-flex align-items-stretch mb-3">
        <div class="card border-0 shadow w-100">
          <div class="card-body">
            <h5 class="card-title text-dark">Twitter</h5>
            <blockquote class="blockquote">
              <div>
                <a class="twitter-timeline" data-width="300" data-height="250" href="https://twitter.com/mohnznz1">
                  Posts from mohnznz1
                </a>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
      
      <!-- YouTube Card -->
      <div class="col-md-4 d-flex align-items-stretch mb-3">
        <div class="card border-0 shadow w-100">
          <div class="card-body">
            <h5 class="card-title text-danger">YouTube</h5>
            <blockquote class="blockquote">
              <div class="ratio ratio-16x9">
                <iframe
                  src="https://www.youtube.com/embed/example-video-id"
                  title="YouTube video"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                ></iframe>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  