<!-- title -->
<div class="container-fluid position-relative p-0">
  <app-title></app-title>

  <!-- Navbar Section -->
  <nav class="navbar navbar-expand-lg  navbar-light px-4 px-lg-5 py-3 py-lg-0" [class.sticky]="isSticky">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars bg-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav py-0 width-100">

        <!-- Home-start -->
        <a href="/" class="nav-item nav-link active">Nyumbani</a>

         <!-- About Us Dropdown -->
         <div class="nav-item dropdown">
          <a href="#" class="nav-link" data-bs-toggle="dropdown">
            <span class="dropdown-toggle">Kuhusu sisi</span>
          </a>
          <div class="dropdown-menu m-0">
            <a routerLink="/temp/main/about-us" class="dropdown-item">Muhtasari</a>
            <a routerLink="/temp/main/welcome-message" class="dropdown-item">Ujumbe wa Wizara</a>
            <a routerLink="/temp/main/mission-vision" class="dropdown-item">Malengo ya wizara</a>
            <a routerLink="/temp/main/organization-structure" class="dropdown-item">Muundo wa Wizara
            </a>
          </div>
        </div>
        
      

         <!-- Department Dropdown -->
         <div class="nav-item dropdown">
          <a href="#" class="nav-link" data-bs-toggle="dropdown">
            <span class="dropdown-toggle"> Idara</span>
          </a>
          <div class="dropdown-menu m-0">
            <a routerLink="/temp/main/administrative-hr" class="dropdown-item">Utumishi na Uendeshaji</a>
            <a routerLink="/temp/main/altanativemedicine" class="dropdown-item">Tiba asili</a>
            <a routerLink="/temp/main/medical-store" class="dropdown-item">Mkemia Mkuu</a>
            <a routerLink="/temp/main/cgcl" class="dropdown-item">Tiba</a>
            <a routerLink="/temp/main/chief-pharmacist" class="dropdown-item">Mfamasia Mkuu</a>
            <a routerLink="/temp/main/nursing-midwifery" class="dropdown-item">Uuguzi na Ukunga</a>
            <a routerLink="/temp/main/curretive" class="dropdown-item">Curretive</a>
            <a routerLink="/temp/main/mhh" class="dropdown-item">Mnazi Mmoja</a>
            <a routerLink="/temp/main/planning" class="dropdown-item">Mipango, Sera Na Utafiti</a>
            <a routerLink="/temp/main/preventive-health-education" class="dropdown-item">Tiba Asili</a>
            <a routerLink="/temp/main/zfda" class="dropdown-item">ZFDA</a>
          </div>
        </div>

        <!-- Programme Dropdown -->
        <div class="nav-item dropdown">
          <a href="#" class="nav-link" data-bs-toggle="dropdown">
            <span class="dropdown-toggle">Programu</span>
          </a>
          <div class="dropdown-menu m-0">
            <a routerLink="/temp/main/irch" class="dropdown-item">IRCH</a>
            <a routerLink="/temp/main/ncd" class="dropdown-item">NCD</a>
            <a routerLink="/temp/main/ntd" class="dropdown-item">NTD</a>
            <a href="/temp/main/zamep" class="dropdown-item">ZAMEP</a>
            <a href="/temp/main/zihtlp" class="dropdown-item">ZIHTLP</a>
          </div>
        </div>

        <!-- Other Links -->
        <a routerLink="/temp/main/tender" class="nav-item nav-link">Zabuni</a>
        <a routerLink="/temp/main/project" class="nav-item nav-link">Miradi</a>
        <a routerLink="/temp/main/blog" class="nav-item nav-link">Habari</a>
        <a routerLink="/temp/main/publications" class="nav-item nav-link">Machapisho</a>
        <a routerLink="/temp/main/contact-us" class="nav-item nav-link">Mawasiliano</a>
       
        <a href="https://mail.mohz.go.tz/" target="_blank" class="nav-item nav-link">Barua-Pepe</a>
        <a routerLink="https://eoffice.goz.go.tz" target="_blank" class="nav-item nav-link">E-Office</a>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar & Hero End -->
