.container {
    max-width: 900px;
    margin-top: 50px;
  }
  
  .text-primary {
    color: #007bff;
  }
  
  h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  ul li strong {
    color: #007bff;
  }
  
  .lead {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .mb-4 {
    margin-bottom: 30px;
  }
  
  .mt-5 {
    margin-top: 50px;
  }
  
  .text-center {
    text-align: center;
  }
  