<!-- New -->
<div class="d-flex justify-content-center owl-carousel align-items-center mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-3 animated fadeInLeft pl-5">
        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sit
        explicabo aut accusamus repellendus doloremque quibusdam ratione esse
        debitis molestias eius libero unde adipisci, laborum similique fuga omnis
        necessitatibus quidem. -->
        <div class="frame-container">
          <div class="image-frame">
            <img src="https://www.ikulu.go.tz/uploads/administration/e073e2269bd8ca9e267c3178f6127f09.jpeg" alt="Hon. Dr. Samia Suluhu Hassan">
          </div>
          <div class="title mt-5">HON. DR. SAMIA SULUHU HASSAN</div>
          <div class="subtitle mt-4">President of the United Republic of Tanzania</div>
          <button mat-flat-button color="primary">Biography</button>
        </div>
      </div>
      <div class="col-md-8 animated fadeInRight">
        <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
          <button
            *ngFor="let banner of banners; let i = index"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)"
          ></button>
        </div>
    
        <!-- Carousel Items -->
        <div class="carousel-inner">
          <div
            *ngFor="let banner of banners; let i = index"
            class="carousel-item"
            [class.active]="i === 0"
          >
            <!-- <img [src]="banner.banner_image" class="d-block w-100" [alt]="'Banner ' + (i + 1)"> -->
            <img
              [src]="banner.banner_image"
              class="d-block mx-auto w-75 rounded-bottom rounded-top"
              [alt]="'Banner ' + (i + 1)"
            />
    
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ banner.banner_title }}</h5>
              <p>{{ banner.banner_descriptions }}</p>
            </div>
          </div>
        </div>
    
        <!-- Carousel Controls -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
