<div class="container mt-5">
  <!-- Title Section -->
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="text-center">Mipango, Sera Na Utafiti</h2>
      <p class="lead">
        Idara ya Mipango, Sera na Utafiti ni miongoni mwa Idara muhimu ndani ya Wizara ya Afya Zanzibar. Kazi zake ni:
      </p>
    </div>
  </div>

  <!-- Services Section -->
  <div class="row">
    <div class="col-12">
      <h4 class="text-primary">Kazi za Idara</h4>
      <ul>
        <li>Kusimamia vitengo na kuongoza majukumu yote ya idara.</li>
        <li>
          Kuhakikisha mahitaji yote ya Idara yanatayarishwa na kusimamiwa kwa wakati kwa mujibu wa maagizo ya serikali na maoni ya wadau.
        </li>
        <li>
          Kusimamia uandaaji mpango wa mwaka na mpango mkakati wa maendeleo wa muda wa kati wa wizara.
        </li>
      </ul>
    </div>
  </div>
</div>
