<!-- Services Start -->
<div class="container-fluid service">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeInUp"
      data-wow-delay="0.2s"
      style="max-width: 800px"
    >
      <h1 class="text-primary text-capitalize">get lates news & events</h1>
      <p class="mb-0">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
        adipisci facilis cupiditate recusandae aperiam temporibus corporis
        itaque quis facere, numquam, ad culpa deserunt sint dolorem autem
        obcaecati, ipsam mollitia hic.
      </p>
    </div>
    <!-- <div class="row g-4">
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../assets/img/service-1.jpg"
              class="img-fluid rounded-top w-100"
              alt="Image"
            />
          </div>
          <div class="rounded-bottom p-4">
            <a href="our_servirce.html" class="h4 d-inline-block mb-4">
              Training and Seminar</a
            >
            <p class="mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
              sint? Excepturi facilis neque nesciunt similique officiis
              veritatis,
            </p>
            <a
              class="btn btn-primary rounded-pill py-2 px-4"
              href="our_servirce.html"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div> -->
    
    
    <div class="row">
      <span *ngIf="isLoading" class="loading-spinner">
        <span>Loading...</span>
      </span>
      <div
        *ngIf="!isLoading"
        class="col-md-6 wow fadeInLeft"
        data-wow-delay="0.2s"
      >
        <div class="row">
          <h5 class="fw-bold text-primary text-uppercase">Lates News</h5>
          <span *ngIf="newses.length === 0" class="alert alert-dark">No data available.</span>
          <div *ngIf="newses.length !== 0">
          <div class="col-md-12"  *ngFor="let news of newses; let i = index">
            <div class="row mb-4 mt-2" *ngIf="i < 5">
              <div class="col-md-6">
                <div class="service-img">
                  <img
                    [src]="news?.image_urls[0]"
                    class="img-fluid rounded-top rounded-bottom w-100 h-100"
                    alt="Image"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h5 class="text-uppercase text-primary fw-bold">
                  {{ truncateTitle(news?.news_title, 5) }}
                </h5>
                <div>
                  <i class="fa-solid fa-calendar-days"></i>
                  Posted On: {{ news?.created_at | date : "mediumDate" }}
                </div>
                <div class="">
                  {{ truncateNewsDescription(news?.news_descriptions, 20) }}<span (click)="findNewsById(news?.id)" class="text-primary readMore">{{ readMore }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <button *ngIf="newses.length !== 0" mat-raised-button color="primary" routerLink="/temp/main/blog">
          View More <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>

      <!-- EVENTS -->
      <span *ngIf="isEventLoading" class="loading-spinner">
        <span>Loading...</span>
      </span>
      <div
        *ngIf="!isEventLoading"
        class="col-md-6 wow fadeInRight"
        data-wow-delay="0.2s"
      >
        <div class="row">
          <h5 class="fw-bold text-primary text-uppercase">Lates Events</h5>
          <div class="col-md-12" *ngFor="let event of events; let i = index;">
            <div class="row mb-4 mt-2" *ngIf="i < 5">
              <div class="col-md-6">
                <div class="service-img">
                  <img
                    [src]="
                      event?.post_filepath ||
                      '../../../../assets/img/no-image.jpg'
                    "
                    class="img-fluid rounded-top rounded-bottom w-100 h-100"
                    alt="Image"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <h5 class="text-uppercase text-primary fw-bold">
                  {{ truncateTitle(event?.post_title, 5) }}
                </h5>
                <div>
                  <i class="fa-solid fa-calendar-days"></i>
                  Posted On: {{ event?.created_at | date : "mediumDate" }}
                </div>
                <div class="">
                  {{ truncateEventDescription(event?.post_description, 20) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" routerLink="/temp/main/blog">
          View More <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->
