<div class="container my-5">
    <h2 class="text-center fw-bold mb-4 ">Blog za Wizara</h2>
    <div class="row">
      <!-- Blog Card 1 -->
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img
            src="../../../../../assets/img/mh.waziri1.jpeg"
            class="card-img-top"
            alt="Blog Image"
          />
          <div class="card-body">
            <h5 class="card-title ">Makala ya Afya</h5>
            <p class="card-text text-muted">
              Taarifa za afya bora na namna ya kujikinga na magonjwa mbalimbali.
            </p>
            <a href="#" class="btn btn-primary">Soma Zaidi</a>
          </div>
        </div>
      </div>
      <!-- Blog Card 2 -->
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img
            src="../../../../../assets/img/katibu.jpeg"
            class="card-img-top"
            alt="Blog Image"
          />
          <div class="card-body">
            <h5 class="card-title ">Mipango ya Chanjo</h5>
            <p class="card-text text-muted">
              Fahamu kuhusu ratiba za chanjo na huduma zinazotolewa na wizara.
            </p>
            <a href="#" class="btn btn-primary">Soma Zaidi</a>
          </div>
        </div>
      </div>
      <!-- Blog Card 3 -->
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img
            src="../../../../../assets/img/mh.waziri1.jpeg"
            class="card-img-top"
            alt="Blog Image"
          />
          <div class="card-body">
            <h5 class="card-title ">Huduma za Matibabu</h5>
            <p class="card-text text-muted">
              Jifunze kuhusu huduma za matibabu zinazopatikana katika hospitali.
            </p>
            <a href="#" class="btn btn-primary">Soma Zaidi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  