<div class="container-fluid">
  <div class="card p-3">
    <div class="mb-4">
      <h5 class="fw-bold">
        <i class="fa-sharp fa-solid fa-star-of-life me-2 fa-sm"></i>Post Title
      </h5>
      <p class="ps-5 pe-3">
        {{ post?.post_title }}
      </p>
    </div>
    <div class="mb-4">
      <h5 class="fw-bold">
        <i class="fa-sharp fa-solid fa-star-of-life me-2 fa-sm"> </i>Post
        Description
      </h5>
      <p class="ps-5 pe-3">
        {{ post?.post_description }}
      </p>
    </div>
    <div class="mb-4">
      <h5 class="fw-bold">
        <i class="fa-sharp fa-solid fa-star-of-life me-2 fa-sm"> </i>Post File
        Content
      </h5>
      <p class="ps-5 pe-3 mt-4">
        <img
          *ngIf="
            post?.post_filepath.endsWith('.jpg') ||
            post?.post_filepath.endsWith('.png')
          "
          [src]="post?.post_filepath"
          class="img-fluid"
          alt="Post File"
        />
        <!-- <iframe *ngIf="post?.post_filepath.endsWith('.pdf')" 
                      [src]="post?.post_filepath" 
                      style="display: block;">
          </iframe> -->
        <span *ngIf="post?.post_filepath.endsWith('.pdf')">
            <div class="alert alert-dark">Please click the button bellow to open the attached document.</div>
          <a
            mat-flat-button
            color="primary"
            href="{{ post?.post_filepath }}"
            target="_blank"
            >View Attachment <mat-icon>picture_as_pdf</mat-icon></a>
        </span>
      </p>
    </div>
    <div class="">
      <button
        routerLink="../../post-list"
        mat-flat-button
        color="warn"
        class="float-end"
      >
        <mat-icon>arrow_back_ios</mat-icon>
        Back
      </button>
    </div>
  </div>
</div>
