.projects-container {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .project-list {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
  }
  
  ol {
    padding-left: 20px;
    list-style-type: decimal;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
  }
  
  .new-icon {
    font-size: 14px;
    color: red;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .project-link {
    text-decoration: none;
    color: #007bff;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  