<div class="container mt-5">
  <div class="card">
    <div class="card-header text-center fw-bold">
      Projects
    </div>
    <div class="card-body">
      
        
          <div class="section-header">
            <h3>New projects</h3>
          </div>
          <ol>
            <li *ngFor="let project of projects" class="mt-4">
              <span class="new-icon text-danger fw-bold me-2">🌟 NEW</span>
              {{ project.post_title }}
              <span  (click)="previewPost(project.post_filepath)" class="badge bg-primary mx-4" style="cursor: pointer;;">Preview</span>
              
            </li>
          </ol>
        </div>
  
  </div>
  
  
</div>



