
<div class="projects-container">
    <h1>Projects</h1>
    <div class="project-list">
      <ol>
        <li>
          <span class="new-icon">🌟 NEW</span>
          <a href="#" class="project-link">
            Investing People’s Well-being for Economic Development Documents
          </a>
        </li>
        <li>
            <span class="new-icon">🌟 NEW</span>
            <a href="#" class="project-link">
              Investing People’s Well-being for Economic Development Documents
            </a>
          </li>
          <li>
            <span class="new-icon">🌟 NEW</span>
            <a href="#" class="project-link">
              Investing People’s Well-being for Economic Development Documents
            </a>
          </li>
      </ol>
    </div>
  </div>
  