<div class="container-fluid">
  <div class="card p-3">
    <div class="mb-4">
      <h5 class="fw-bold">
        <i class="fa-sharp fa-solid fa-star-of-life me-2"></i>Announcement Title
      </h5>
      <p class="ps-5 pe-3">
       {{ announcement?.announcement_title}}
      </p>
    </div>
    <div class="mb-4">
      <h5 class="fw-bold">
        <i class="fa-sharp fa-solid fa-star-of-life me-2"> </i>Announcement
        Content
      </h5>
      <p class="ps-5 pe-3">
        {{ announcement?.announcement_content}}
      </p>
    </div>
    <div class="">
        <button routerLink="../../announcement-list" mat-flat-button color="warn" class="float-end">
            <!-- <mat-icon>keyboard_arrow_left</mat-icon> -->
            <mat-icon>arrow_back_ios</mat-icon>
            Back
        </button>
    </div>
  </div>
</div>
