.container {
    max-width: 900px;
    margin-top: 50px;
  }
  
  .text-primary {
    color: #007bff;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  h4 {
    margin-bottom: 15px;
  }
  
  .lead {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  