
.password-form {
    display: flex;
    flex-direction: column; 
    gap: 16px; 
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
  }
  
  .form-field {
    width: 100%; 
  }
  .center-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
   margin-top: 30px;
  }

  .container {
    max-width: 700px;
  }
  
  mat-card {
    border-radius: 10px;
  }
  
  button {
    font-size: 16px;
  }
  
  