<div class="container mt-5">
    <mat-card>
      <h1 class="text-center text-primary mb-4">Change Password</h1>
      <form [formGroup]="credentialForm" (ngSubmit)="submit()" class="password-form">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Old Password</mat-label>
          <input matInput formControlName="old_password" [type]="passwordVisible ? 'text' : 'password'" required />
          <mat-icon matSuffix (click)="togglePasswordVisibility('old')">
            {{ passwordVisible ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="credentialForm.get('old_password')?.hasError('required')">
            Old password is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="new_password" [type]="newPasswordVisible ? 'text' : 'password'" required />
          <mat-icon matSuffix (click)="togglePasswordVisibility('new')">
            {{ newPasswordVisible ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="credentialForm.get('new_password')?.hasError('required')">
            New password is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Confirm New Password</mat-label>
          <input matInput formControlName="password_confirmation" [type]="passwordConfirmVisible ? 'text' : 'password'" required />
          <mat-icon matSuffix (click)="togglePasswordVisibility('confirm')">
            {{ passwordConfirmVisible ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="credentialForm.get('password_confirmation')?.hasError('required')">
            Password confirmation is required
          </mat-error>
          <mat-error *ngIf="credentialForm?.hasError('passwordsMismatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="credentialForm.invalid">Submit</button>
      </form>
  
      <!-- Centered Back Button -->
      <div class="center-button">
        <button mat-raised-button color="accent" routerLink="/auth/login">
          <mat-icon>arrow_back</mat-icon>
          Back to Login
        </button>
      </div>
  
    </mat-card>
  </div>
  