<div class="container-fluid">
  <!-- <h5 class="font-semibold mt-4">{{ dialogData.action }} News</h5> -->
  <h5 class="fw-bold mt-4" *ngIf="dialogData.action === 'CREATE NEW'">
    Create New News
  </h5>
  <h5 class="fw-bold mt-4" *ngIf="dialogData.action === 'EDIT'">
    Update Team Member
  </h5>
  <form [formGroup]="teamForm">
    <div class="row">
      <!-- First Name -->
      <mat-form-field appearance="outline" class="col-md-12 mt-3">
        <mat-label>First Name</mat-label>
        <input
          type="text"
          formControlName="firstName"
          matInput
          class="text-black"
        />
        <mat-error
          *ngIf="
            teamForm.controls.firstName.touched &&
            teamForm.controls.firstName.invalid
          "
        >
          <span *ngIf="teamForm.controls.firstName.errors.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Middle Name -->
      <mat-form-field appearance="outline" class="col-md-12 mt-4">
        <mat-label>Middle Name</mat-label>
        <input
          formControlName="middleName"
          matInput
          rows="5"
          class="text-black"
        />
        <mat-error
          *ngIf="
            teamForm.controls.middleName.touched &&
            teamForm.controls.middleName.invalid
          "
        >
          <span *ngIf="teamForm.controls.middleName.errors?.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field appearance="outline" class="col-md-12 mt-4">
        <mat-label>Last Name</mat-label>
        <input
          formControlName="lastName"
          matInput
          rows="5"
          class="text-black"
        />
        <mat-error
          *ngIf="
            teamForm.controls.lastName.touched &&
            teamForm.controls.lastName.invalid
          "
        >
          <span *ngIf="teamForm.controls.lastName.errors?.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Professional -->
      <mat-form-field appearance="outline" class="col-md-12 mt-4">
        <mat-label>Professional</mat-label>
        <input
          formControlName="professional"
          matInput
          rows="5"
          class="text-black"
        />
        <mat-error
          *ngIf="
            teamForm.controls.professional.touched &&
            teamForm.controls.professional.invalid
          "
        >
          <span *ngIf="teamForm.controls.professional.errors?.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Profile Image -->
      <div class="col-md-12 mt-2">
        <div class="mb-2">
          <mat-label>Profile Image</mat-label>
        </div>
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
          class="form-control"
        />
        <mat-error *ngIf="fileError">
          {{ fileError }}
        </mat-error>
      </div>
      <div *ngIf="previewImage" class="mt-3">
        <img
          [src]="previewImage"
          alt="Preview"
          class="img-fluid"
          style="max-height: 200px"
        />
      </div>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!(teamForm.valid && teamForm.dirty)"
      (click)="handleTeamSubmit()"
    >
      {{ action }} Data
    </button>
  </mat-dialog-actions>
</div>
