<div class="container mt-5">
    <p class="fw-bold text-center text-primary h1">
         ___ Ministry's System ___</p>
    <div class="text-center">
        <div class="row justify-content-center gx-1"> <!-- justify-content-center inaweka picha katikati -->
            <div class="col-auto">
                <img src="../../../../../assets/img/logo_front.png" alt="" 
                    class="rounded-circle" 
                    style="width: 100px; height: 100px; border: 3px solid rgb(255, 255, 255); object-fit: contain; background-color: white; padding: 10px;">
                <p>DHIS2</p>
            </div>
            <div class="col-auto">
                <img src="../../../../../assets/img/ihmis.jpg" alt="" 
                    class="rounded-circle" 
                    style="width: 100px; height: 100px; border: 3px solid rgb(255, 255, 255); object-fit: contain; background-color: white; padding: 10px;">
                <p>DHIS2</p>
            </div>
            <div class="col-auto">
                <img src="../../../../../assets/img/profile-img.jpg" alt="" 
                    class="rounded-circle" 
                    style="width: 100px; height: 100px; border: 3px solid rgb(255, 255, 255); object-fit: contain; background-color: white; padding: 10px;">
                <p>DHIS2</p>
            </div>
            <!-- Ongeza picha zaidi hapa -->
            <div class="col-auto">
                <img src="../../../../../assets/img/profile-img.jpg" alt="" 
                    class="rounded-circle" 
                    style="width: 100px; height: 100px; border: 3px solid rgb(255, 255, 255); object-fit: contain; background-color: white; padding: 10px;">
                <p>DHIS2</p>
            </div>
            <div class="col-auto">
                <img src="../../../../../assets/img/profile-img.jpg" alt="" 
                    class="rounded-circle" 
                    style="width: 100px; height: 100px; border: 3px solid rgb(255, 255, 255); object-fit: contain; background-color: white; padding: 10px;">
                <p>DHIS2</p>
            </div>
        </div>
    </div>
</div>