<div class="container mt-5">
    <p class="fw-bold text-center text-primary h1">  
        ___ Mifumo wa Wizara ___  
</p>
    <div class="text-center">
        <div class="row justify-content-center gx-3"> <!-- Keeps items in one row -->
            <div class="col-auto" *ngFor="let ministrySystem of ministrySystems">
                <img [src]="ministrySystem?.system_logo" alt=""
                    class="rounded-circle"
                    style="width: 100px; height: 100px; border: 3px solid rgb(255, 255, 255); 
                           object-fit: contain; background-color: white; padding: 10px;">
                <p class="h6 text-primary">{{ ministrySystem?.system_title }}</p>
                <!-- <p class="h6">System link: {{ ministrySystem?.system_link }}</p> -->
            </div>
        </div>
    </div>
</div>
