<div class="container mt-5">
  <!-- Sehemu ya Dira na Dhamira -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-4">Malengo ya wizara</h2>
    </div>
  </div>

  <!-- Sehemu ya Dira -->
  <div class="row mb-4">
    <div class="col-12">
      <h4 class="text-primary">Malengo</h4>
      <p class="lead">
        Upatikanaji wa huduma za afya zenye uhakika kwa Wazanzibari wote na kwa usawa.
      </p>
    </div>
  </div>

  <!-- Sehemu ya Dhamira -->
  <div class="row mb-4">
    <div class="col-12">
      <h4 class="text-primary">Dhamira</h4>
      <p class="lead">
        Kutoa uongozi wa kimkakati wa Wizara ya Afya Zanzibar ambayo itahakikisha Wazanzibari wote wanalinda haki yao ya huduma bora za afya na usawa zinazotolewa kwa njia bora na gharama nafuu.
      </p>
    </div>
  </div>

  <!-- Sehemu ya Utawala wa Sekta ya Afya -->
  <div class="row">
    <div class="col-12">
      <h4 class="text-primary">Utawala wa Sekta ya Afya</h4>
      <p><strong>Kusudi la Sera:</strong> Kukuza ujumuishaji, uwazi, uwajibikaji, ushiriki wa jamii, na ushiriki katika utoaji wa maamuzi katika masuala ya afya katika ngazi zote.</p>
      <ul>
        <li><strong>Utoaji wa Huduma za Afya:</strong> Kuboresha mifumo ya rufaa ndani ya mipangilio ya afya katika kila ngazi, ikiwa ni pamoja na sekta ya afya binafsi.</li>
        <li><strong>Huduma za Jamii:</strong> Kuboresha ujumuishaji na usimamizi wa huduma za kijamii kati ya watendaji tofauti katika kila ngazi.</li>
        <li><strong>Rasilimali Watu kwa Afya:</strong> Kuongeza idadi ya kutosha ya wafanyikazi wenye ujuzi katika ngazi zote za mfumo wa utunzaji wa afya.</li>
        <li><strong>Miundombinu:</strong> Kuendeleza na kuambatana na mpango wa maendeleo ya miundombinu ambao unasaidia usawa na uendelevu katika matengenezo na huduma za ukarabati.</li>
        <li><strong>Dawa Muhimu na Vifaa vya Matibabu:</strong> Kuongeza ufikiaji wa dawa bora, vifaa tiba na visivyo vya matibabu na kukuza utumiaji wa busara katika kila kiwango cha utunzaji wa afya.</li>
        <li><strong>Sheria ya Afya na Kanuni:</strong> Kukuza utumiaji wa sheria za afya, kanuni na viwango vya maadili katika mambo yanayohusiana na afya.</li>
        <li><strong>Habari ya Afya:</strong> Kukuza uanzishwaji wa mfumo wa usimamizi wa Habari za Afya kwa maamuzi ya msingi wa ushahidi.</li>
        <li><strong>Ubunifu na Utafiti:</strong> Kukuza shughuli za utafiti katika Wizara ya Afya.</li>
        <li><strong>Ufadhili wa Afya:</strong> Kuongeza rasilimali za kifedha kwa kupitisha chaguzi mbalimbali za ufadhili wa afya ambazo ni endelevu.</li>
        <li><strong>Mandhari ya Msalaba:</strong> Kukuza utumiaji wa mbinu za kijinsia na haki za binadamu katika mfumo wa utunzaji wa afya na kuboresha usimamizi wa mazingira na taka za afya.</li>
      </ul>
    </div>
  </div>
</div>
