<!-- Topbar Start -->
<div class="container-fluid topbar  px-5 d-none d-lg-block">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-flex flex-wrap topbar-links">
                <a href="#" class="text-muted small me-4 "><i class="fas fa-map-marker-alt text-white me-2"></i>Find A Location</a>
                <a href="tel:+01234567890" class="text-muted small me-4"><i class="fas fa-phone-alt text-white me-2"></i>+255 24 2231614</a>
                <a href="mailto:example@gmail.com" class="text-muted small me-0"><i class="fas fa-envelope text-white me-2"></i>{{email}}</a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end topbar-links">
            <div class="d-inline-flex align-items-center " style="height: 45px;">
                <!-- <a routerLink ="/auth/login" ><small class="me-3 text-white"><i class="fa fa-sign-in-alt text-white me-2"></i>Login</small></a> -->
                <div class="language-switch">
                    <a href="http://localhost:4201" class="btn ">
                         Kiswahili
                    </a>
                    <a href="http://localhost:4200" class="btn ">
                         English    
                    </a>
                </div>
                
            </div>
        </div>
    </div>
  </div>
  <!-- Topbar End -->